{% block content_header scoped %}
<header>
    <h2>{{ post.title()|e }}</h2>
</header>
{% endblock %}
<!-- Page Content -->
{% block content_post scoped %}
<div class="content">
    {{ post.text(teaser_only=False) }}
        {% set button_1_text = post.meta('button_1_text') %}
        {% set button_1_link = post.meta('button_1_link') %}
        {% set button_2_text = post.meta('button_2_text') %}
        {% set button_2_link = post.meta('button_2_link') %}
        {% if button_1_text and button_1_link %}
        <ul class="actions">
            <li><a href="{{ button_1_link|e }}" class="button primary large">{{ button_1_text|e }}</a></li>
            {% if button_2_text and button_2_link %}
            <li><a href="{{ button_2_link|e }}" class="button large">{{ button_2_text|e }}</a></li>
            {% endif %}
        </ul>
        {% endif %}    
</div>
{% endblock %}  
